astroid==2.4.2
click==7.1.2
Flask==1.0.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.18.5
pandas==0.24.2
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.20.3
scipy==1.4.1
six==1.15.0
toml==0.10.2
typed-ast==1.4.1
Werkzeug==1.0.1
wrapt==1.12.1
